.banking_section {
    // background-image: url("../images/bg-intro-mobile.svg");
    // background-repeat: no-repeat;
    // background-size: cover;

    .image_container {
        position: relative;
        z-index: -1;

        img {
            max-width: 100%;
            transform: translateY(-29%);
            -webkit-transform: translateY(-29%);
            -moz-transform: translateY(-29%);
            -ms-transform: translateY(-29%);
            -o-transform: translateY(-29%);
}
    }

    .banking_section__article {
        margin-top: -70px;
    }
    
}

.section_heading {
    font-size: 38px;
    font-weight: 400;
}

.section_button.request_button {
    margin-top: 32px;
}

@media (min-width: 1114px) {
    .section_heading {
        max-width: 400px;
        font-size: 48px;
        line-height: 59px;
    }

    .banking_section {
        padding-top: 0;

        .section_container {
            text-align: initial;
            padding-top: 200px;
            padding-bottom: 50px;
        }

        .section_paragraph {
            max-width: 400px;
            line-height: 29px;
            font-size: 18px;
        }

        .page_link--request {
            justify-content: initial;
        }
    }
}
